<div id="tweet_form">
  <% unless !current_user %>
  <%= form_tag(twitter_client_index_path) do %>
  <%= label_tag "Post Tweet" %>
  <%= text_field_tag("tweet")  %>
  <%= submit_tag "Submit" %>
  <% end %>
  <% end%>
</div>
