<div class="row">
  <div class="large-6 columns">
    <div class="row">
      <div class="large-6 small-6 columns">
      <input class="search"
             type="text" 
             placeholder="search timeline"
             ng-model="query">
      </div>
    </div>
    <ul>
      <li ng-repeat-start="tweet in timeline | filter:query">
        <div>{{tweet.screen_name}}</div>
        <div>{{tweet.text}}</div>
        <div>{{tweet.created_at | date:'M/d/yy h:mm a' }}</div>
      </li>
      <button class="button tiny" ng-repeat-end ng-click="track(tweet)">Track</button>
    </ul>
  </div>

  <div class="large-6 columns">
    <ul>
      <li ng-repeat-start="tweet in tracked">
        <div>{{tweet.screen_name}}</div>
        <div>{{tweet.text}}</div>
        <div>{{tweet.created_at | date:'M/d/yy h:mm a' }}</div>
      </li>
      <button class="button tiny" ng-repeat-end ng-click="untrack(tweet)">unTrack</button>
    </ul>
  </div>
</div>


  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
