<div class="row">
  <div class="large-6 columns">
    <div class="row">
      <div class="large-6 small-6 columns">
      <input class="search"
             type="text"
             placeholder="search timeline"
             ng-model="query">
      </div>
    </div>
    <h3>My Klout Score</h3>
    <div>{{current_user_klout}}</div>
    <h3>Tweets</h3>
    <ul>
      <li ng-repeat-start="tweet in timeline | filter:query">
        <div>{{tweet.screen_name}}</div>
        <div ng-bind-html="tweet.text"></div>
        <div>{{tweet.klout_score}}</div>
        <div>{{tweet.created_at | date:'M/d/yy h:mm a' }}</div>
      </li>
      <button class="button tiny" ng-repeat-end ng-click="track(tweet)">Track</button>
    </ul>
    <h3>Followers</h3>
    <ul>
      <li ng-repeat-start="follower in followers | filter:query">
        <div>{{follower.screen_name}}</div>
        <div>{{follower.klout_score}}</div>
        <div>{{follower.created_at | date:'M/d/yy h:mm a' }}</div>
      </li>
      <button class="button tiny" ng-repeat-end ng-click="track(tweet)">Track</button>
    </ul>
    <h3>Mentions</h3>
    Sort by:
    <select ng-model="orderProp">
      <option value="-klout_score">Klout Score</option>
      <option value="-created_at">Date</option>
    </select>
    <ul>
      <li ng-repeat-start="mention in usermentions | orderBy:orderProp">
        <div>{{mention.screen_name}}</div>
        <div>{{mention.klout_score}}</div>
        <div ng-bind-html="mention.text"></div>
        <div>{{mention.created_at | date:'M/d/yy h:mm a' }}</div>
      </li>
      <button class="button tiny" ng-repeat-end ng-click="track(mention)">Track</button>
    </ul>
  </div>
<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
  <input type="text"  ng-model="tweet_message" placeholder="Post a Tweet" required></input>
  <input type="submit" ng-click="sendTweet(tweet_message)" ng-disabled="disabled(tweet_message)"></input>
  <h6>{{length(tweet_message)}}</h6>

  <input type="text"  ng-model="stweet_message" placeholder="Schedule a Tweet" required></input>
  <div id="date-time" style="display:inline-flex">
    <input type="date" style="width: 60% margin-right: 5px;" min="{{defaultDate}}" ng-model="stweet_date"></input>
    <input type="time" style="width: 90%" ng-model="stweet_time"></input>
  </div>
  <input type="submit" ng-click="sendStweet(stweet_message, stweet_time, stweet_date)" ng-disabled="disabled(stweet_message)"></input>
  <h6>{{length(stweet_message)}}</h6>

<ul>
  <li ng-repeat="tweet in timeline">{{tweet.tweet.text}}</li>
</ul>
  <div class="row">
    <div class="large-6 columns">
      <h3>tracked</h3>
      <ul>
        <li ng-repeat-start="tweet in unresolved">
          <div>{{tweet.screen_name}}</div>
          <div>{{tweet.klout_score}}</div>
          <div ng-bind-html="tweet.text"></div>
          <div>{{tweet.created_at | date:'M/d/yy h:mm a' }}</div>
        </li>
        <button class="button tiny" ng-click="deleteTrack(tweet)">delete</button>
        <button class="button tiny" ng-repeat-end ng-click="untrack(tweet)">resolve</button>
      </ul>
    </div>
    <div class="large-6 columns">
      <h3>resolved</h3>
      <ul>
        <li ng-repeat-start="tweet in resolved">
          <div>{{tweet.screen_name}}</div>
          <div>{{tweet.klout_score}}</div>
          <div ng-bind-html="tweet.text"></div>
          <div>{{tweet.created_at | date:'M/d/yy h:mm a' }}</div>
        </li>
        <button class="button tiny" ng-click="deleteTrack(tweet)">delete</button>
        <button class="button tiny" ng-repeat-end ng-click="retrack(tweet)">unresolve</button>
      </ul>
    </div>
  </div>
</div>

<div id="map_canvas">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

    <ui-gmap-markers models="mentions" coords="'self'" icon="'icon'" click="'onClick'" idKey="'idKey'">
      <ui-gmap-windows show="show">
        <div ng-non-bindable>@{{author}} tweeted: {{title}}</div>
      </ui-gmap-windows>
    </ui-gmap-markers>

  </ui-gmap-google-map>
</div>
