{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https:\/\/api.twitter.com\/1.1\/statuses\/update.json",
        "body": {
          "encoding": "UTF-8",
          "string": "status=Hello%21"
        },
        "headers": {
          "Authorization": [
            "OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"7e06e11a2eba164c19573da4ccc72223\", oauth_signature=\"Jz7ZdZUqXFJwe9j1cNQdO1WGU3k%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420690143\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""
          ],
          "Content-Type": [
            "application\/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 403,
          "message": "Forbidden"
        },
        "headers": {
          "Content-Type": [
            "application\/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Thu, 08 Jan 2015 04:09:03 GMT"
          ],
          "Status": [
            "403 Forbidden"
          ],
          "X-Access-Level": [
            "read-write-directmessages"
          ],
          "X-Connection-Hash": [
            "d0ef370f0381c605b2069e5d4101dbb8"
          ],
          "X-Response-Time": [
            "47"
          ],
          "X-Transaction": [
            "52837a1f32d91e1d"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"errors\":[{\"code\":187,\"message\":\"Status is a duplicate.\"}]}"
        },
      },
      "recorded_at": "Thu, 08 Jan 2015 04:09:03 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https:\/\/api.twitter.com\/1.1\/statuses\/user_timeline.json?count=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"a475b27f068f1728fb2eb8e67bf5599b\", oauth_signature=\"1%2Ft%2FfryQtrU%2B1Xfol%2BOQj7Gk9xY%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420690143\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application\/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Thu, 08 Jan 2015 04:09:03 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write-directmessages"
          ],
          "X-Connection-Hash": [
            "85cad867fdb56a7a5dc00566ee4a669a"
          ],
          "X-Rate-Limit-Limit": [
            "180"
          ],
          "X-Rate-Limit-Remaining": [
            "179"
          ],
          "X-Rate-Limit-Reset": [
            "1420691043"
          ],
          "X-Response-Time": [
            "29"
          ],
          "X-Transaction": [
            "7d9483ab358a1efe"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"created_at\":\"Thu Jan 08 03:49:26 +0000 2015\",\"id\":553035724069425152,\"id_str\":\"553035724069425152\",\"text\":\"Hello!\",\"source\":\"\\u003ca href=\\\"http:\\\/\\\/127.0.0.1:3000\\\/\\\" rel=\\\"nofollow\\\"\\u003eSocial Smarts\\u003c\\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2935410678,\"id_str\":\"2935410678\",\"name\":\"Social Smarts\",\"screen_name\":\"social_smarts\",\"location\":\"Pittsburgh, PA\",\"profile_location\":null,\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3,\"friends_count\":12,\"listed_count\":0,\"created_at\":\"Thu Dec 18 22:18:22 +0000 2014\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"verified\":false,\"statuses_count\":14,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\\/\\\/abs.twimg.com\\\/images\\\/themes\\\/theme1\\\/bg.png\",\"profile_background_image_url_https\":\"https:\\\/\\\/abs.twimg.com\\\/images\\\/themes\\\/theme1\\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\\/\\\/pbs.twimg.com\\\/profile_images\\\/550588722446483458\\\/1b7k8zSM_normal.jpeg\",\"profile_image_url_https\":\"https:\\\/\\\/pbs.twimg.com\\\/profile_images\\\/550588722446483458\\\/1b7k8zSM_normal.jpeg\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}]"
        },
      },
      "recorded_at": "Thu, 08 Jan 2015 04:09:03 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
