{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/update.json","body":{"encoding":"UTF-8","string":"status=Hello%21"},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"d4c4621ab55215bf280dab1478d91e24\", oauth_signature=\"JxfuwkPhjlXCh7AOspDL9VVi7ZU%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420688965\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 08 Jan 2015 03:49:26 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["6b122c618dcaa57511f374ac19c86cfb"], "X-Response-Time":["61"], "X-Transaction":["54f05b60ac48022a"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"Thu Jan 08 03:49:26 +0000 2015\",\"id\":553035724069425152,\"id_str\":\"553035724069425152\",\"text\":\"Hello!\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\/\\\" rel=\\\"nofollow\\\"\\u003eSocial Smarts\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2935410678,\"id_str\":\"2935410678\",\"name\":\"Social Smarts\",\"screen_name\":\"social_smarts\",\"location\":\"Pittsburgh, PA\",\"profile_location\":null,\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3,\"friends_count\":12,\"listed_count\":0,\"created_at\":\"Thu Dec 18 22:18:22 +0000 2014\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"verified\":false,\"statuses_count\":14,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/550588722446483458\\/1b7k8zSM_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/550588722446483458\\/1b7k8zSM_normal.jpeg\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}"},"http_version":null},"recorded_at":"Thu, 08 Jan 2015 03:49:26 GMT"}],"recorded_with":"VCR 2.9.3"}