{"http_interactions":[{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json/2935410678/score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["1"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["493"], "X-Mashery-Responder":["prod-j-worker-us-west-1b-32.mashery.com"], "X-Quota-Reset":["Friday, January 9, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":"{\"score\":17.695603199940507,\"scoreDelta\":{\"dayChange\":-0.6505854855663387,\"weekChange\":0.30894105729555577,\"monthChange\":7.695603199940507},\"bucket\":\"10-19\"}"},"http_version":null},"recorded_at":"Thu, 08 Jan 2015 03:42:47 GMT"}],"recorded_with":"VCR 2.9.3"}