{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"d51b09ed7fe8293d19639c988758f1f5\", oauth_signature=\"N87dITFoXWtFUD0nOpjlJR0R%2B%2Fk%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420667290\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Wed, 07 Jan 2015 21:48:10 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["e08aee14c7705a90c42daaee578e8360"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["9"], "X-Rate-Limit-Reset":["1420668087"], "X-Response-Time":["17"], "X-Transaction":["07341b36b3536bbb"]},"body":{"encoding":"UTF-8","string":"{\"id\":2935410678,\"id_str\":\"2935410678\",\"name\":\"Social Smarts\",\"screen_name\":\"social_smarts\",\"location\":\"\",\"profile_location\":null,\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3,\"friends_count\":12,\"listed_count\":0,\"created_at\":\"Thu Dec 18 22:18:22 +0000 2014\",\"favourites_count\":0,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"verified\":false,\"statuses_count\":13,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/550588722446483458\\/1b7k8zSM_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/550588722446483458\\/1b7k8zSM_normal.jpeg\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:48:11 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/followers/list.json?cursor=-1\u0026user_id=2935410678","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"52ba0820bfa812b8ade24f99bcded3f2\", oauth_signature=\"1Dcnqghy2GI6uO3k9gMpIOlFgXM%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420667291\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Wed, 07 Jan 2015 21:48:10 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["3958fdd4f320fd5e8ca47847b5785db9"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["14"], "X-Rate-Limit-Reset":["1420668190"], "X-Response-Time":["178"], "X-Transaction":["24b1892b647632ed"]},"body":{"encoding":"UTF-8","string":"{\"users\":[{\"id\":14902698,\"id_str\":\"14902698\",\"name\":\"ian douglas\",\"screen_name\":\"iandouglas736\",\"location\":\"\",\"profile_location\":null,\"description\":\"Ignoring Q-Tip warnings since 1974.\\r\\nSr Engineer @SendGrid, but these opinions are mine. Mostly cross-post from Google+ ... http:\\/\\/t.co\\/P9smaT5eWO\",\"url\":\"http:\\/\\/t.co\\/Uxprgupiuo\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/Uxprgupiuo\",\"expanded_url\":\"http:\\/\\/iandouglas.com\",\"display_url\":\"iandouglas.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/P9smaT5eWO\",\"expanded_url\":\"http:\\/\\/gplus.to\\/iandouglas\",\"display_url\":\"gplus.to\\/iandouglas\",\"indices\":[124,146]}]}},\"protected\":false,\"followers_count\":572,\"friends_count\":398,\"listed_count\":25,\"created_at\":\"Sun May 25 23:00:26 +0000 2008\",\"favourites_count\":1823,\"utc_offset\":-25200,\"time_zone\":\"Mountain Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":5374,\"lang\":\"en\",\"status\":{\"created_at\":\"Wed Jan 07 20:44:29 +0000 2015\",\"id\":552928784123301888,\"id_str\":\"552928784123301888\",\"text\":\"@pixeljoe done, enjoy\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":552928361530789889,\"in_reply_to_status_id_str\":\"552928361530789889\",\"in_reply_to_user_id\":72061480,\"in_reply_to_user_id_str\":\"72061480\",\"in_reply_to_screen_name\":\"pixeljoe\",\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"pixeljoe\",\"name\":\"Jochen Winker\",\"id\":72061480,\"id_str\":\"72061480\",\"indices\":[0,9]}],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C6E2EE\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/265786406\\/nvdefianceofscience.br.jpg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/265786406\\/nvdefianceofscience.br.jpg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/507037063296729089\\/f09JKA3T_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/507037063296729089\\/f09JKA3T_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/14902698\\/1398454585\",\"profile_link_color\":\"1F98C7\",\"profile_sidebar_border_color\":\"C6E2EE\",\"profile_sidebar_fill_color\":\"DAECF4\",\"profile_text_color\":\"663B12\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false,\"muting\":false},{\"id\":805180963,\"id_str\":\"805180963\",\"name\":\"Damn It's TRUE!\",\"screen_name\":\"DamntsTRUE\",\"location\":\"\",\"profile_location\":null,\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":158868,\"friends_count\":157517,\"listed_count\":153,\"created_at\":\"Wed Sep 05 18:56:14 +0000 2012\",\"favourites_count\":0,\"utc_offset\":-21600,\"time_zone\":\"Central Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verif[...]
{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json/14902698/score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["1"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["8965"], "X-Mashery-Responder":["prod-j-worker-us-west-1c-33.mashery.com"], "X-Quota-Reset":["Thursday, January 8, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":"{\"score\":59.86110823249184,\"scoreDelta\":{\"dayChange\":3.522432619515314,\"weekChange\":3.4308039288193584,\"monthChange\":4.468760338968963},\"bucket\":\"50-59\"}"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:48:11 GMT"},[...]
{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json/41835955/score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["3"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["8967"], "X-Mashery-Responder":["prod-j-worker-us-west-1b-32.mashery.com"], "X-Quota-Reset":["Thursday, January 8, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":"{\"score\":23.9390517701627,\"scoreDelta\":{\"dayChange\":-0.05722855078068534,\"weekChange\":-0.26823016507517394,\"monthChange\":1.8640974933579955},\"bucket\":\"20-29\"}"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:48:12 GMT"}],"recorded_with":"VCR 2.9.3"}