{"http_interactions":[{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json//score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["1"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["2"], "X-Mashery-Responder":["prod-j-worker-us-west-1c-35.mashery.com"], "X-Quota-Reset":["Monday, January 5, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sun, 04 Jan 2015 03:33:38 GMT"}],"recorded_with":"VCR 2.9.3"}