{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/mentions_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"1cc6ddafc391d0470f0e24300db5ab8c\", oauth_signature=\"x1vOnCSGkZspmzrMJXI30SujKHk%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1419721420\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Sat, 27 Dec 2014 23:03:41 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["68a291bde2239cdb468adcb135fb89ca"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["14"], "X-Rate-Limit-Reset":["1419722321"], "X-Response-Time":["28"], "X-Transaction":["427b1122b29551e6"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"Thu Dec 18 23:21:59 +0000 2014\",\"id\":545720663903051776,\"id_str\":\"545720663903051776\",\"text\":\"@social_smarts Hello world!\",\"source\":\"\\u003ca href=\\\"http:\\/\\/tapbots.com\\/tweetbot\\\" rel=\\\"nofollow\\\"\\u003eTweetbot for i\\u039fS\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":2935410678,\"in_reply_to_user_id_str\":\"2935410678\",\"in_reply_to_screen_name\":\"social_smarts\",\"user\":{\"id\":2118841,\"id_str\":\"2118841\",\"name\":\"Steve Kinney\",\"screen_name\":\"stevekinney\",\"location\":\"Denver, Colorado\",\"profile_location\":null,\"description\":\"Instructor at @turingschool. Recovering New York City public school teacher.\",\"url\":\"http:\\/\\/t.co\\/BxWEmPCoPI\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/BxWEmPCoPI\",\"expanded_url\":\"http:\\/\\/stevekinney.net\",\"display_url\":\"stevekinney.net\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":922,\"friends_count\":378,\"listed_count\":55,\"created_at\":\"Sat Mar 24 17:21:32 +0000 2007\",\"favourites_count\":958,\"utc_offset\":-25200,\"time_zone\":\"Mountain Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":6260,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"EFEBE3\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme14\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme14\\/bg.gif\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/545300364723896320\\/XsA1z2Pl_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/545300364723896320\\/XsA1z2Pl_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/2118841\\/1416536038\",\"profile_link_color\":\"009999\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"FFFDF8\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":{\"id\":\"460b8a5f636e7c9e\",\"url\":\"https:\\/\\/api.twitter.com\\/1.1\\/geo\\/id\\/460b8a5f636e7c9e.json\",\"place_type\":\"neighborhood\",\"name\":\"Union Station\",\"full_name\":\"Union Station, Denver\",\"country_code\":\"US\",\"country\":\"United States\",\"contained_within\":[],\"bounding_box\":{\"type\":\"Polygon\",\"coordinates\":[[[-105.008219,39.745566],[-104.991716,39.745566],[-104.991716,39.760381],[-105.008219,39.760381]]]},\"attributes\":{}},\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"social_smarts\",\"name\":\"Social Smarts\",\"id\":2935410678,\"id_str\":\"2935410678\",\"indices\":[0,14]}],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"},{\"created_at\":\"Thu Dec 18 22:20:25 +0000 2014\",\"id\":545705168265043968,\"id_str\":\"545705168265043968\",\"text\":\"@social_smarts Please  like and subscribe !! Very funny Bloopers: http:\\/\\/t.co\\/6Dc2v500XC\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":2935410678,\"in_reply_to[...]
