{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"7fea7cc327f7665097890b1c44ea777a\", oauth_signature=\"CLKSVhbgyE%2B8b3TKNo6NWInqZKQ%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1419214368\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Mon, 22 Dec 2014 02:12:48 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["eb6390ea7587b21532296b238b038984"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["13"], "X-Rate-Limit-Reset":["1419214657"], "X-Response-Time":["67"], "X-Transaction":["7f0b37aef9d62661"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"Mon Dec 22 02:09:00 +0000 2014\",\"id\":546849855776514049,\"id_str\":\"546849855776514049\",\"text\":\"Remember Twitch Plays Pokemon? How about Fish Play Pokemon? Let's review The Year In Crowdplaying http:\\/\\/t.co\\/WBBUwObVwN\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.sprinklr.com\\\" rel=\\\"nofollow\\\"\\u003eSprinklr\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":4641021,\"id_str\":\"4641021\",\"name\":\"ReadWrite\",\"screen_name\":\"RWW\",\"location\":\"World Wide Web\",\"profile_location\":null,\"description\":\"The latest news, analysis and conversation in all things web, tech and social media from the http:\\/\\/t.co\\/rp2ArBCWov team.\",\"url\":\"http:\\/\\/t.co\\/pi102Lb7UV\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/pi102Lb7UV\",\"expanded_url\":\"http:\\/\\/www.readwrite.com\",\"display_url\":\"readwrite.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/rp2ArBCWov\",\"expanded_url\":\"http:\\/\\/ReadWrite.com\",\"display_url\":\"ReadWrite.com\",\"indices\":[93,115]}]}},\"protected\":false,\"followers_count\":1508910,\"friends_count\":2638,\"listed_count\":26403,\"created_at\":\"Sat Apr 14 22:48:21 +0000 2007\",\"favourites_count\":1175,\"utc_offset\":-28800,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":true,\"statuses_count\":45766,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/690880897\\/53b506cce15e75ca664e6237c9b9020b.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/690880897\\/53b506cce15e75ca664e6237c9b9020b.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/2750899250\\/294d9c7b13ba263c7c3f634a487d468d_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/2750899250\\/294d9c7b13ba263c7c3f634a487d468d_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/4641021\\/1350921310\",\"profile_link_color\":\"B80103\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"F3F3F3\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":1,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/WBBUwObVwN\",\"expanded_url\":\"http:\\/\\/spr.ly\\/6010vOb2\",\"display_url\":\"spr.ly\\/6010vOb2\",\"indices\":[98,120]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},{\"created_at\":\"Mon Dec 22 02:00:35 +0000 2014\",\"id\":546847740551237632,\"id_str\":\"546847740551237632\",\"text\":\"11 perfect gifts for the Instagram addict in your life http:\\/\\/t.co\\/X5qvfP0lHb\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.huffingtonpost.com\\\" rel=\\\"nofollow\\\"\\u003eThe Huffington Post\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user[...]
{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/mentions_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"ce5a0bcb56f35f56f30354fbeb8c44c7\", oauth_signature=\"PMr4x5Jv1mW44oW2Bqo7ng9UmZE%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1419214368\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":[...]
