{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/mentions_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"efb8b799d34b48e70c51b0957bb0f75e\", oauth_signature=\"bMl7%2BMHdgaU15tKh2fEF94%2Bu4iw%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420667785\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Wed, 07 Jan 2015 21:56:25 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["97709e67c9f4711ea460b3c264c89638"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["14"], "X-Rate-Limit-Reset":["1420668685"], "X-Response-Time":["33"], "X-Transaction":["8475d59c39eebb4b"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"Sun Jan 04 13:45:17 +0000 2015\",\"id\":551736123165134848,\"id_str\":\"551736123165134848\",\"text\":\"Why you should not use AngularJs \\u2014 Medium http:\\/\\/t.co\\/zGizgMKP1U @lukeaiken @social_smarts\",\"source\":\"\\u003ca href=\\\"https:\\/\\/chrome.google.com\\/webstore\\/detail\\/tweet-this-page\\/ppilhaolhbpfembaoedfdbkegfedfgip\\\" rel=\\\"nofollow\\\"\\u003eTweet-this-page\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":160976745,\"id_str\":\"160976745\",\"name\":\"Glen Egbert\",\"screen_name\":\"glenegbert\",\"location\":\"\",\"profile_location\":null,\"description\":\"Father, Husband, Developer, Learner - Currently @TuringSchool\",\"url\":\"http:\\/\\/t.co\\/K9LU9cqAHM\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/K9LU9cqAHM\",\"expanded_url\":\"http:\\/\\/gettingfunctional.com\",\"display_url\":\"gettingfunctional.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":418,\"friends_count\":814,\"listed_count\":15,\"created_at\":\"Tue Jun 29 17:04:32 +0000 2010\",\"favourites_count\":11,\"utc_offset\":-21600,\"time_zone\":\"Central Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":859,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"000000\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/533622927216762880\\/Hoo9RWFV.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/533622927216762880\\/Hoo9RWFV.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/2525656351\\/1xythi5vzyn3ssalrtb1_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/2525656351\\/1xythi5vzyn3ssalrtb1_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/160976745\\/1416060898\",\"profile_link_color\":\"00CC7A\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"000000\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":2,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"LukeAiken\",\"name\":\"Luke Aiken\",\"id\":2698988838,\"id_str\":\"2698988838\",\"indices\":[65,75]},{\"screen_name\":\"social_smarts\",\"name\":\"Social Smarts\",\"id\":2935410678,\"id_str\":\"2935410678\",\"indices\":[76,90]}],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/zGizgMKP1U\",\"expanded_url\":\"http:\\/\\/bit.ly\\/1zLx79y\",\"display_url\":\"bit.ly\\/1zLx79y\",\"indices\":[42,64]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},{\"created_at\":\"Sun Jan 04 01:30:38 +0000 2015\",\"id\":551551244913737728,\"id_str\":\"551551244913737728\",\"text\":\"@digital_mafioso @social_smarts Of all the tweets that you should have geo-coded\\u2026\",\"source\":\"\\u003ca href=\\\"http:\\/\\/itunes.apple.com\\/us\\/app\\/twitter\\/id409789998?mt=12\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Mac\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":551550856303489026,\"in_reply_to_status_id_str\":\"5[...]
{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json/160976745/score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["1"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["9060"], "X-Mashery-Responder":["prod-j-worker-us-west-1b-30.mashery.com"], "X-Quota-Reset":["Thursday, January 8, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":"{\"score\":37.97750095828526,\"scoreDelta\":{\"dayChange\":-0.03254978402038944,\"weekChange\":4.330638532617755,\"monthChange\":4.223342608158518},\"bucket\":\"30-39\"}"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:56:26 GMT"},[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Denver,%20Colorado\u0026key=AIzaSyBIjVwl0qhgGMl8PI4AQi6zdn-_SzLCJBE","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"error_message\" : \"You have exceeded your daily request quota for this API.\",\n   \"results\" : [],\n   \"status\" : \"OVER_QUERY_LIMIT\"\n}\n"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:56:26 GMT"},[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Los%20Angeles,%20CA\u0026key=AIzaSyBIjVwl0qhgGMl8PI4AQi6zdn-_SzLCJBE","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"error_message\" : \"You have exceeded your daily request quota for this API.\",\n   \"results\" : [],\n   \"status\" : \"OVER_QUERY_LIMIT\"\n}\n"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:56:27 GMT"},[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Denver,%20CO\u0026key=AIzaSyBIjVwl0qhgGMl8PI4AQi6zdn-_SzLCJBE","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"error_message\" : \"You have exceeded your daily request quota for this API.\",\n   \"results\" : [],\n   \"status\" : \"OVER_QUERY_LIMIT\"\n}\n"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:56:28 GMT"},[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Seatte,%20WA,%20USA\u0026key=AIzaSyBIjVwl0qhgGMl8PI4AQi6zdn-_SzLCJBE","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"error_message\" : \"You have exceeded your daily request quota for this API.\",\n   \"results\" : [],\n   \"status\" : \"OVER_QUERY_LIMIT\"\n}\n"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:56:29 GMT"},[...]
{"request":{"method":"get","uri":"http://api.klout.com/v2/tw-user.json/994052005/score?key=sdxdsft7u5s676ztxhdf9x8v","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json; charset=utf-8"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Apikey-Qps-Allotted":["10"], "X-Apikey-Qps-Current":["1"], "X-Apikey-Quota-Allotted":["20000"], "X-Apikey-Quota-Current":["9068"], "X-Mashery-Responder":["prod-j-worker-us-west-1b-30.mashery.com"], "X-Quota-Reset":["Thursday, January 8, 2015 12:00:00 AM GMT"]},"body":{"encoding":"UTF-8","string":"{\"score\":47.52574795315984,\"scoreDelta\":{\"dayChange\":-7.596471118014826,\"weekChange\":-7.61026031341072,\"monthChange\":-4.742069123993062},\"bucket\":\"40-49\"}"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 21:56:31 GMT"}],"recorded_with":"VCR 2.9.3"}