{"http_interactions":
  [
    {
      "request": {
        "method": "get",
        "uri": "https:\/\/api.twitter.com\/1.1\/statuses\/user_timeline.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"82f3ce6f0a4689cf2c1da5351aba798d\", oauth_signature=\"50btWgccyaTQBHdizcBt6JhHAzg%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1419113535\", oauth_token=\"41835955-p6Z4O0vbHbqLy76LZlXR5eiffFhokWxZX4LOU242a\", oauth_version=\"1.0\""
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application\/json;charset=utf-8"
          ],
          "Last-Modified": [
            "Sat, 20 Dec 2014 22:12:14 GMT"
          ],
          "Status": [
            "200 OK"
          ],
          "X-Access-Level": [
            "read-write-directmessages"
          ],
          "X-Connection-Hash": [
            "66cecbb8e0c8d9525afed0287b979d74"
          ],
          "X-Rate-Limit-Limit": [
            "180"
          ],
          "X-Rate-Limit-Remaining": [
            "179"
          ],
          "X-Rate-Limit-Reset": [
            "1419114434"
          ],
          "X-Response-Time": [
            "42"
          ],
          "X-Transaction": [
            "580fd0c0ed71b137"
          ],
          "X-Twitter-Response-Tags": [
            "BouncerCompliant"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"created_at\":\"Fri Dec 19 00:52:47 +0000 2014\",\"id\":545743510981197824,\"id_str\":\"545743510981197824\",\"text\":\"RT @garybernhardt: If we wrote migrations for internal APIs, like we do for database, then old tests could run against new code and new tes\\u2026\",\"source\":\"\\u003ca href=\\\"http:\\\/\\\/twitter.com\\\/download\\\/android\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Android\\u003c\\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":41835955,\"id_str\":\"41835955\",\"name\":\"kavita sachdeva\",\"screen_name\":\"kavita_s\",\"location\":\"WA, USA\",\"profile_location\":null,\"description\":\"meditator, curious cat, humble student of life\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":true,\"followers_count\":92,\"friends_count\":764,\"listed_count\":5,\"created_at\":\"Fri May 22 15:41:21 +0000 2009\",\"favourites_count\":3,\"utc_offset\":-21600,\"time_zone\":\"Central Time (US & Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":46,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"1C130E\",\"profile_background_image_url\":\"http:\\\/\\\/pbs.twimg.com\\\/profile_background_images\\\/818777950\\\/4ccd35438b42a7da37c20ebc15940e52.jpeg\",\"profile_background_image_url_https\":\"https:\\\/\\\/pbs.twimg.com\\\/profile_background_images\\\/818777950\\\/4ccd35438b42a7da37c20ebc15940e52.jpeg\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\\/\\\/pbs.twimg.com\\\/profile_images\\\/2641160407\\\/04bd2b2940f2d6cffad66de138860f3d_normal.jpeg\",\"profile_image_url_https\":\"https:\\\/\\\/pbs.twimg.com\\\/profile_images\\\/2641160407\\\/04bd2b2940f2d6cffad66de138860f3d_normal.jpeg\",\"profile_link_color\":\"4F3F38\",\"profile_sidebar_border_color\":\"9DB98C\",\"profile_sidebar_fill_color\":\"140E0A\",\"profile_text_color\":\"838978\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Fri Dec 19 00:25:45 +0000 2014\",\"id\":545736707652337665,\"id_str\":\"545736707652337665\",\"text\":\"If we wrote migrations for internal APIs, like we do for database, then old tests could run against new code and new tests against old code.\",\"source\":\"\\u003ca href=\\\"http:\\\/\\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":809685,\"id_str\":\"809685\",\"name\":\"Gary Bernhardt\",\"screen_name\":\"garybernhardt\",\"location\":\"Seattle, WA\",\"profile_location\":null,\"description\":\"not a rubyist, not a husband, not a father, not a christian, not a dog, not a horse\",\"url\":\"http:\\\/\\\/t.co\\\/5iU0NFjH4G\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\\/\\\/t.co\\\/5iU0NFjH4G\",\"expanded_url\":\"http:\\\/\\\/destroyallsoftware.com\",\"display_url\":\"destroyallsoftware.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":16842,\"friends_count\":59,\"listed_count\":838,\"created_at\":\"Sun Mar 04 05:12:14 +0000 2007\",\"favourites_count\":1888,\"utc_offset\":-28800,\"time_zone\":\"Pacific Time (US & Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":55847,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"9AE4E8\",\"profile_background_image_url\":\"http:\\\/\\\/abs.twimg.com\\\/images\\\/themes\\\/theme1\\\/bg.png\",\"profile_background_image_url_https\":\"https:\\\/\\\/abs.twimg.com\\\/images\\\/themes\\\/theme1\\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\\/\\\/pbs.twimg.com\\\/profile_images\\\/1170938305\\\/twitter_headshot_normal.png\",\"profile_image_url_https\":\"https:\\\/\\\/pbs.twimg.com\\\/profile_images\\\/1170938305\\\/twitter_headshot_normal.png\",\"profile_link_color\":\"0000FF\",\"profile_sidebar_border_color\":\"87BC44\",\"profile_sidebar_fill_color\":\"E0FF92\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":26,\"favorite_count\":24,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":true,\"retweeted\":true,\"lang\":\"en\"},\"retweet_count\":26,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"garybernhardt\",\"name\":\"Gary Bernhardt\",\"id\":809685,\"id_str\":\"809685\",\"indices\":[3,17]}],\"urls\":[]},\"favorited\":true,\"retweeted\":true,\"lang\":\"en\"},{\"created_at\":\"Tue Dec 16 23:28:41 +0000 2014\",\"id\":544997570582298624,\"id_str\":\"544997570582298624\",\"text\":\"RT @j3: OH: \\\"I'm pretty unlucky. For instance, I rode my bi[...]
    {
      "request": {
        "method": "get",
        "uri": "https:\/\/api.twitter.com\/1.1\/statuses\/mentions_timeline.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"b4c13c4d162fcf596364c5240cf5e6d6\", oauth_signature=\"urV2d9R9JHIdIjMw1T2OxjwoCXA%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1419[...]
