{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/mentions_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"eXl06RGtKNnEc8AYlMuKjpo66\", oauth_nonce=\"b82ccc7a0ae1ed6e3a8c5febfbabbf42\", oauth_signature=\"XEOGSajEg0P6cbRLTMR44caQYFY%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1420668302\", oauth_token=\"2935410678-GpBDrY8zuSDIXhX9TBOEZCFroNvmZzpgGELOecm\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Wed, 07 Jan 2015 22:05:02 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write-directmessages"], "X-Connection-Hash":["1ed1110246f627c357c02f912e9cc2bb"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["8"], "X-Rate-Limit-Reset":["1420668685"], "X-Response-Time":["49"], "X-Transaction":["19f584e8a6c2c771"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"Sun Jan 04 13:45:17 +0000 2015\",\"id\":551736123165134848,\"id_str\":\"551736123165134848\",\"text\":\"Why you should not use AngularJs \\u2014 Medium http:\\/\\/t.co\\/zGizgMKP1U @lukeaiken @social_smarts\",\"source\":\"\\u003ca href=\\\"https:\\/\\/chrome.google.com\\/webstore\\/detail\\/tweet-this-page\\/ppilhaolhbpfembaoedfdbkegfedfgip\\\" rel=\\\"nofollow\\\"\\u003eTweet-this-page\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":160976745,\"id_str\":\"160976745\",\"name\":\"Glen Egbert\",\"screen_name\":\"glenegbert\",\"location\":\"\",\"profile_location\":null,\"description\":\"Father, Husband, Developer, Learner - Currently @TuringSchool\",\"url\":\"http:\\/\\/t.co\\/K9LU9cqAHM\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/K9LU9cqAHM\",\"expanded_url\":\"http:\\/\\/gettingfunctional.com\",\"display_url\":\"gettingfunctional.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":418,\"friends_count\":814,\"listed_count\":15,\"created_at\":\"Tue Jun 29 17:04:32 +0000 2010\",\"favourites_count\":11,\"utc_offset\":-21600,\"time_zone\":\"Central Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":false,\"statuses_count\":859,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"000000\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/533622927216762880\\/Hoo9RWFV.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/533622927216762880\\/Hoo9RWFV.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/2525656351\\/1xythi5vzyn3ssalrtb1_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/2525656351\\/1xythi5vzyn3ssalrtb1_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/160976745\\/1416060898\",\"profile_link_color\":\"00CC7A\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"000000\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":true,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":2,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"LukeAiken\",\"name\":\"Luke Aiken\",\"id\":2698988838,\"id_str\":\"2698988838\",\"indices\":[65,75]},{\"screen_name\":\"social_smarts\",\"name\":\"Social Smarts\",\"id\":2935410678,\"id_str\":\"2935410678\",\"indices\":[76,90]}],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/zGizgMKP1U\",\"expanded_url\":\"http:\\/\\/bit.ly\\/1zLx79y\",\"display_url\":\"bit.ly\\/1zLx79y\",\"indices\":[42,64]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"lang\":\"en\"},{\"created_at\":\"Sun Jan 04 01:30:38 +0000 2015\",\"id\":551551244913737728,\"id_str\":\"551551244913737728\",\"text\":\"@digital_mafioso @social_smarts Of all the tweets that you should have geo-coded\\u2026\",\"source\":\"\\u003ca href=\\\"http:\\/\\/itunes.apple.com\\/us\\/app\\/twitter\\/id409789998?mt=12\\\" rel=\\\"nofollow\\\"\\u003eTwitter for Mac\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":551550856303489026,\"in_reply_to_status_id_str\":\"5[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Denver,%20Colorado\u0026key=AIzaSyCkCtk5jlm5ZiT47hqEsqVlQ5u97k7my4A","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Denver\",\n               \"short_name\" : \"Denver\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Denver County\",\n               \"short_name\" : \"Denver County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Colorado\",\n               \"short_name\" : \"CO\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Denver, CO, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 39.91424689999999,\n                  \"lng\" : -104.6002959\n               },\n               \"southwest\" : {\n                  \"lat\" : 39.614431,\n                  \"lng\" : -105.109927\n               }\n            },\n            \"location\" : {\n               \"lat\" : 39.7384357,\n               \"lng\" : -104.9848593\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 39.91424689999999,\n                  \"lng\" : -104.6002959\n               },\n               \"southwest\" : {\n                  \"lat\" : 39.614431,\n                  \"lng\" : -105.109927\n               }\n            }\n         },\n         \"types\" : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Wed, 07 Jan 2015 22:05:03 GMT"},[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Los%20Angeles,%20CA\u0026key=AIzaSyCkCtk5jlm5ZiT47hqEsqVlQ5u97k7my4A","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n      [...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Denver,%20CO\u0026key=AIzaSyCkCtk5jlm5ZiT47hqEsqVlQ5u97k7my4A","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n             [...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Seatte,%20WA,%20USA\u0026key=AIzaSyCkCtk5jlm5ZiT47hqEsqVlQ5u97k7my4A","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.02"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n      [...]
[...]
